# symfony/framework-bundle
.env.local
.env.local.php
.env.*.local
public/bundles/
var/

# symfony/phpunit-bridge
.phpunit
.phpunit.result.cache
phpunit.xml
bin/.phpunit/

# lexik/jwt-authentication-bundle
config/jwt/*.pem

vendor

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
